@{
    ViewBag.Title = "PageNotFound";
}

<h2>-404-   PageNotFound</h2>

Üzgünüz aradığınız sayfaya ulaşamadık :(

<div style="margin-top: 30px;">
    <img src="~/Images/PageNotFound.png" />
    
</div>
